body{
    margin: 0;
    background-color: aqua;
}

.navbar.bg-body-tertiary {
    background-color: black !important; }

.navbar-toggler{
    background-color: white !important;
}

.navbar-brand{
    padding-left: 2vw;
    color: white!important;
}

.tituloHome{
    padding-top: 10vh;
    font-size: 10vw;
}

.formularioMail{
    padding: 20px 0px 50px 0px;
    font-style: italic;
}

.formularioMail h6{
    padding: 0px 0px 20px 0px;
    font-style: italic;
}



.row .separacion{
    padding: 30px;
}